//  Color pallet
$primary-color-blue: #209CD7;
$primary-color-purple: #af70af;
$primary-color-green: #93b733;
$primary-color-mustard: #F8AB1D;
$primary-color-red: #D9512B;

$body-background-color: #e6f7ff;
$box-shadow-color: lighten(#000, 60%);

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
